@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* 
    GWC-Colors
    red: #fa5869 
    blue: #13426b
    yellow: #ece816
    green: #6acdb1
*/

body {
    display: flex;
    justify-content: center;
    background-image: url('../images/GWC-Welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    height: 100%;
}

#bannerContainer {
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
    /* border: 2px solid #fa5869; */
    width: 75%;
    color: #ece816;
    background-color: rgba(19, 66, 107, .5);
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
}

#button {
    background-color: #6acdb1;
    box-shadow: none;
    width: 150px;
    height: 30px;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
    border: solid 2px #fa5869;
}